.drop
{
	margin-top: 1px;

}
h4
{
	margin-left: 35px;
	margin-top: 60px;
}
.product
{
	text-align: center;
}
.card
{
	width: 80%;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0,0,0,.15);
	padding: 10px 0;
	margin-bottom: 20px;

}
.form-group
{
	text-align: center;
	margin-top: 70px;
}
.form-control
{
	width: 200px;
	display: inline-block;
	
}


